@import '../Variables.scss';

.message-list{
    padding: 70px 0px 100px 0px;
    small{
        font-size: 11px;
    }

    ul{
        padding: 0 10px;
        li{
            width: 100%;
            display: flex;
            div{
                flex-direction: column;
                list-style-type: none;
                margin-bottom: 5px;
                padding: 0 5px;
                margin-top: 5px;
                p {
                    color: white;
                    background-color: $primary-color;
                    font-weight: 500px;
                    // max-width: 200px;
                    border-radius: 20px;
                    padding: 5px;
                    border:1px solid $red-color;
                }
            }

        }
    }

}